body {position: relative; background-color: #f2f0e9;}

.effra {font-family: "effra"; font-style: normal; font-weight: 700; font-size: 12px; letter-spacing: 4px; text-transform: uppercase;}

.gothic {font-family: "letter-gothic-std",sans-serif; font-style: normal; font-weight: 700;}

.border {position: fixed; margin: 1%; border: 2px solid #e64424; width: 97.5%; height: 97%; background-color: #f2f0e9;}

.mainContainer {position: relative; padding: 7% 9%; text-align: center;}

.headerInfo {width: 100%; margin-bottom: 5%; text-align: center; vertical-align: middle;}

.headerInfo .logoContainer, .headerInfo .phoneContainer, .headerInfo .addressContainer {height:100%; display: inline-block;}

.headerInfo .logoContainer {width: 33%; margin-top: -2%;}

.headerInfo .phoneContainer, .headerInfo .addressContainer {margin-top: 3%;}

.headerInfo .phoneContainer {float: left; width: 30%; text-align: left; margin-left: 2%;}

.headerInfo .addressContainer {float: right; width: 30%; text-align: right; margin-right: 2%;}

.mapContainer {position: relative; width: 100%; margin: 1% 0;}

.mapContainer img {width: 100%; z-index: 0;}

.mapContainer .mobileMap {display: none;}

.parkingInfoContainer {position: absolute; bottom: 50px; left: 50px; z-index: 5; width: 33%; background-color: #565352;}

.parkingInfoContent {margin: 3%; padding: 1.5%; border: 2px solid white; color: white;}

.parkingInfoContent .parkingInfo p {font-size: 16px;}

.parkingInfoContent p {margin: 1%;}

.footerInfo {margin-top: 6%; width: 100%;}

.footerContent {font-size: 32px; text-transform: uppercase;}

@media screen and (max-width: 1200px){

	.headerInfo .logoContainer {width: 33%; margin-top: -4%;}

}

@media screen and (max-width: 1100px){

	.effra {font-size: 18px; letter-spacing: 5px;}

	.border {display: none;}

	.mainContainer {margin: 5%; padding: 0; border: 4px solid #e64424;}

	.headerInfo {margin: 0;}

	.headerInfo .logoContainer, .headerInfo .phoneContainer, .headerInfo .addressContainer {display: block; text-align: center; margin: 0; padding: 3% 0; width: 100%; float: none; border-bottom: 4px solid #e64424;}

	.headerInfo .phoneContainer p, .headerInfo .addressContainer p {margin: 0; color: black;}

	.headerInfo .phoneContainer a {color:black;}

	.mapContainer {margin: 0; overflow-x: hidden;}

	.mapContainer .desktopMap {display: none;}

	.mapContainer .mobileMap {display: block; width: 101%;}

	.parkingInfoContainer {position: relative; left: 0; bottom: 0; margin: 0; padding: 3%; width: 94.5%;}

	.parkingInfoContent {margin: 0; padding: 4%;}

	.parkingInfoContent p {font-size: 12px}

	.parkingInfoContent .parkingInfo p {font-size: 17px;}

	.footerInfo {margin: 0;}

	.footerContent {margin: 0; padding: 4%; font-size: 13px; letter-spacing: 4px;}
}
